<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand mx-5" href="#">六角西餐廳</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  d-flex justify-content-end w-100">
        <li class="nav-item active mx-4">
          <a class="nav-link" href="#" >特色</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="#">主廚</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="#">地圖</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="background-image">
  <div class="container text-center text-white d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="overlay">
      <h1>咬一口就無法忘懷的漢堡</h1>
      <p>七夕絕對無法錯過的好滋味</p>
      <p><img src="../../assets/utensils-solid.svg" alt="漢堡" class="img-fork">六角大漢堡<img src="../../assets/utensils-solid.svg" alt="漢堡" class="img-fork"></p>
    </div>
  </div>
</div>
