<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="about-title">關於 六角西餐廳</div>
        <p class="about-content">
          Curabitur lobortis id lorem id bibndum. Ut id consectetur magna.
          Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at.
        </p>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="reach-out-title">聯絡方式</div>
        <div class="reach-out-content">
          <ul>
            <li>高雄市中正五路到底</li>
            <li>+886 886 886</li>
            <li>service@hexschool.com</li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-sm-6 text-end">
        <img
          src="../../assets/logo_l(null).svg"
          alt="Restaurant"
          class="img-fluid"
        />
        <div class="icon-group">
          <div>
            <a class="social-media-icon" href="#" title="Google"
              ><i class="fa fa-google fa-2x" aria-hidden="true"></i
            ></a>
          </div>
          <div>
            <a class="social-media-icon" href="#" title="Twitter"
              ><i class="fa fa-twitter fa-2x" aria-hidden="true"></i
            ></a>
          </div>
          <div>
            <a class="social-media-icon" href="#" title="Facebook"
              ><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i
            ></a>
          </div>
        </div>
        <!-- https://fontawesome.com/v4/icon -->
        <!-- https://techvblogs.com/blog/install-font-awesome-icons-angular-17#:~:text=Step%20for%20Install%20Font%20Awesome%20Icons%20in%20Angular,Use%20Font%20Awesome%20Icons%20in%20Angular%2017%20 -->
      </div>
    </div>
  </div>
</div>
