.footer {
  width: 100%;
  min-height: 232px;
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: rgb(235, 230, 225);
}
.about-title {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 24px;
  color: #3d1101;
}
.about-content {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 16px;
  color: #3d1101;
}
.reach-out-title {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 24px;
  color: #3d1101;
}
.reach-out-content {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 16px;
  color: #3d1101;
}
.icon-group div{
  float: right;
  margin-left: 12px;
  margin-top: 22px;
}
