<div class="intro">
  <div class="container title">
    <div class="row justify-content-center">
      <div class="col-md-1 title-line">
      </div>
      <div class="col-md-2 title-content">
        <div>客人總是詢問</div>
        <div>這麼好吃的秘訣是甚麼</div>
      </div>
      <div class="col-md-1 title-line">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-desktop-4 col-tablet-6 col-mobile-12 intro-content">
        <div class="intro-item">
          <img class="rounded-circle intro-img" src="../../assets/feature_1@2x.png" alt="intro-1">
          <div class="intro-item-title">台灣本土蔬菜</div>
          <p>In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.</p>
        </div>
      </div>
      <div class="col-desktop-4 col-tablet-6 col-mobile-12 intro-content">
        <div class="intro-item">
          <img class="rounded-circle intro-img" src="../../assets/feature_2@2x.png" alt="intro-2">
          <div class="intro-item-title">專業米其林廚師</div>
          <p>Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.</p>
        </div>
      </div>
      <div class="col-desktop-4 col-tablet-6 col-mobile-12 intro-content">
        <div class="intro-item">
          <img class="rounded-circle intro-img" src="../../assets/feature_3@2x.png" alt="intro-3">
          <div class="intro-item-title">對於專業不能退讓</div>
          <p>Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.</p>
        </div>
      </div>
    </div>
  </div>
</div>


