.form {
  min-height: 588px;
  width: 100%;
  background-color: #fafafa;
}

.title {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 24px;
  color: #3d1101;
  padding-top: 50px;
  padding-bottom: 38px;
}
.map-img{
  width: 486px;
  height: 386px;

}

.form-group {
  margin-bottom: 5px;
}

.form-group-btn button {
  margin-left: 10px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

