<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center title">
        <div>我們的位置不太夠坐</div>
        <div>要不要先訂位呢？</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <img src="../../assets/Map@2x.png" alt="Map" class="img-fluid map-img" />
      </div>
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="name">姓名</label>
            <input type="text" class="form-control" id="name" placeholder="請輸入姓名" />
          </div>
          <div class="form-group">
            <label for="phone">電話</label>
            <input type="tel" class="form-control" id="phone" placeholder="請輸入電話" />
          </div>
          <div class="form-group">
            <label for="email">信箱</label>
            <input type="email" class="form-control" id="email" placeholder="請輸入信箱" />
          </div>
          <div class="form-group">
            <label for="number">人數</label>
            <input type="number" class="form-control" id="number" placeholder="請輸入人數" />
          </div>
          <div class="form-group">
            <label >是否需要素食</label>
            <div>
              <div class="form-check form-check-inline">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="yes-for-vegetarian"
                />
                <label class="form-check-label" for="yes-for-vegetarian"
                  >是</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="no-for-vegetarian"
                />
                <label class="form-check-label" for="no-for-vegetarian"
                  >否</label
                >
              </div>
            </div>
          </div>
          <div class="form-group-btn d-flex justify-content-end align-items-end">
            <button type="reset" class="btn btn-secondary">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
