
.main-chef {
  width: 100%;
  min-height: 460px;
  background-color: #3d1101;
}
.main-chef-img {
  width: 470px;
  // height: 460px;
}

.main-chef-content .main-chef-name {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 20px;
  color: #efe9e7;
  line-height: 32px;
}
.main-chef-content .main-chef-name-eng {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 16px;
  color: #EFE9E7;
  margin-top: 1px;
}
.main-chef-content p {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 16px;
  color: #efe9e7;
}
