<div class="main-chef">
  <div class="container">
    <div class="row">
      <div class="col-desktop-6 col-tablet-6 main-chef-img-section">
        <img class="main-chef-img img-fluid" src="../../assets/main_chef_brown@2x.png" alt="main_chef_brown" >
      </div>
      <div class="col-desktop-6 col-tablet-6  main-chef-content">
        <div class="main-chef-name">今日主廚：帕金森、梅在怕</div>
        <div class="main-chef-name-eng">Todays Chef：Parkinson, Mayonaise</div>
        <p>
          Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci. Mauris molestie sit amet metus mattis varius. Donec sit amet ligula eget nisi sodales egestas. Aliquam interdum dolor aliquet dolor sollicitudin fermentum. Donec congue lorem a molestie bibendum.
        </p>
      </div>
    </div>
  </div>
</div>
