@media (min-width: 0) {
  .col { background-color: red; }
}
@media (min-width: 480px) {
  .col { background-color: orange; }
}
@media (min-width: 720px) {
  .col { background-color: yellow; }
}
@media (min-width: 960px) {
  .col { background-color: green; }
}
@media (min-width: 1140px) {
  .col { background-color: blue; }
}
@media (min-width: 1440px) {
  .col { background-color: purple; }
}
