/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "./customize-breakpoing.scss";
@import "../node_modules/bootstrap/scss/mixins";

// This specific for the header component,
// I should found a way to move this to the header component scss file

@include media-breakpoint-down(mobile) {
  .overlay-title div {
    display: block;
  }
}

@include media-breakpoint-up(mobile) {
  .overlay-title div {
    display: none;
  }
}

// specific for the main-chef component

// .main-chef-img-section if @media max-width >= 79px d-flex justify-content-end, else d-flex justify-content-center
.main-chef-img-section {
  @include media-breakpoint-down(tablet) {
    display: flex;
    justify-content: center;
  }
  @include media-breakpoint-up(tablet) {
    display: flex;
    justify-content: flex-end;
  }
}
.main-chef-content .main-chef-name {
  @include media-breakpoint-down(tablet) {
    margin-top: 30px;
  }
  @include media-breakpoint-up(tablet) {
    margin-top: 81px;
  }
}

// for global styles

.leftfix {
  float: left;
}

.rightfix {
  float: right;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
li {
  word-break: break-word;
  overflow-wrap: break-word;
}

/* Importing Bootstrap SCSS file. This import should be at the end of the file */
@import "../node_modules/bootstrap/scss/bootstrap";
