<div class="comments">
  <div class="containr title">
    <div class="row justify-content-center w-100">
      <div class="col-md-2 title-content">
        <div>聽聽別人的感想</div>
      </div>
    </div>
  </div>
  <div class="comments-content">
    <div class="container">
      <div class="row">
        <div class="col-desktop-4 col-tablet-4 col-mobile-12 comment-content">
          <div class="container">
            <div class="row">
              <div class="col-3 comment-avatar">
                <div>
                  <img
                    src="../../assets/avatar_1.png"
                    alt="Profile Picture"
                    class="img-fluid rounded-circle"
                  />
                </div>
              </div>
              <div class="col-8 clearfix">
                <div class="comment-name">高雄一口吃</div>
                <p class="comment-content">
                  自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
                </p>
                <p class="job-title"> -- 產品經理</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-desktop-4 col-tablet-4 col-mobile-12 comment-content">
          <div class="container">
            <div class="row">
              <div class="col-3 comment-avatar">
                <div>
                  <img
                    src="../../assets/avatar_2.png"
                    alt="Profile Picture"
                    class="img-fluid rounded-circle"
                  />
                </div>
              </div>
              <div class="col-8 clearfix">
                <div class="comment-name">廟口小霸王</div>
                <p class="comment-content">
                  自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
                </p>
                <p class="job-title"> -- 金身道士</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-desktop-4 col-tablet-4 col-mobile-12 comment-content">
          <div class="container">
            <div class="row">
              <div class="col-3 comment-avatar">
                <div>
                  <img
                    src="../../assets/avatar_3.png"
                    alt="Profile Picture"
                    class="img-fluid rounded-circle"
                  />
                </div>
              </div>
              <div class="col-8 clearfix">
                <div class="comment-name">春天也來了</div>
                <p class="comment-content">
                  自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
                </p>
                <p class="job-title"> -- 美麗萬分</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
